llamafactory
0.9.2.dev0
matplotlib
3.10.0
numpy
1.26.4
nvidia-cudnn-cu12
9.1.0.70
safetensors
0.5.3
scikit-learn
1.6.1
scipy
1.15.2
seaborn
0.13.2
tensorboard-data-server
0.7.2
tensorflow-estimator
2.13.0
tokenizers
0.21.1
torch
2.6.0
tqdm
4.67.1
transformers
4.49.0
transformers-stream-generator
0.0.4